<div class="row">
    <h1 class="t-blog"> BLOG </h1>
    <div class="col-md-8" >
        <div class="box-content">
            <div class="blog-item" ng-repeat="post in posts" >
                <div class="blog-img" ng-click="changeLocation('#?post='+post.key)" style="cursor: pointer"><img src="files/{{post.images[0]}}" alt=""></div>
                <div class="blog-desc box-text">
                    <h2><span ng-click="changeLocation('#?post='+post.key)" style="cursor: pointer">{{post.titulo}}</span><span class="date-blog">{{getTags(post.tags)}} / {{post.fecha[0]}}, {{post.fecha[1]}}</span></h2>
                    <p  compile="post.description"></p>
                    <br>
                    <a ng-click="changeLocation('#?post='+post.key)" style="cursor: pointer" class="blog-read"> Leer mas</a>
                </div>
            </div>


        </div><!--close box content-->
    </div>
    <div class="col-md-4">
        <div class="box-content right-position">
            <div class="blog-right-column">
                <h2>Tags</h2>
                <ul>
                    <li ng-repeat="tag in tagList|limitTo:5">
                        <a href="http://www.ilcorsaronero.it/progettienvato/SiteParallax/ParallaxSite/minime/html/blog.html#">
                            <i class="fa fa-angle-double-right"></i> {{tag.name}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="box-content blog-r-posts">
            <div class="blog-right-column">
                <h2>Best Posts</h2>
                <ul>
                    <li ng-repeat="post in bestPosts|limitTo:5"><a style="cursor: pointer" ng-click="changeLocation('#?post='+post.key)"><i class="fa fa-angle-double-right"></i> {{post.titulo}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!--close row-->